.slider-wrapper{
  margin: 32px 0;
}
.main-content{
  min-height: 100vh;
}
.categories{
  .categories-item{
    margin-bottom: 4.8rem!important;

    .title-md{
      display: flex;
      margin-bottom: 2.8rem;
      text-align: center;
      .title-l{
        margin-top: 20px;
        margin-right: 58%;
        float: left;
      }
      .sort-option{

        margin-right: -1000px;
      }
    }
  }
}